<% title '订单发货信息' %>

<div class="headline">
  <h3>
    订单发货信息
  </h3>
</div>

<%= simple_form_for @order, url: ship_order_shipping_admin_orders_path, html: { id: 'ship_order_form' } do |f| %>
    <div class="row">
      <div class="col-md-4">
        <%= f.label :number %>
        <label class="string optional col-md-8 control-value-label" for="order_number">
          <%= @order.number %>
        </label>
      </div>
      <div class="col-md-4">
        <%= f.label :total_price %>
        <label class="string optional col-md-8 control-value-label" for="order_number">
          <%= @order.total_price %>
        </label>
      </div>
      <div class="col-md-4">
        <%= f.label :state %>
        <label class="string optional col-md-8 control-value-label" for="order_number">
          <%= @order.get_state %>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <%= f.label '总重量' %>
        <label class="string optional col-md-8 control-value-label" for="order_created_at">
          <%= @order.get_items_weight %>(KG)
        </label>
      </div>
      <div class="col-md-4">
        <%= f.label :created_at %>
        <label class="string optional col-md-8 control-value-label" for="order_created_at">
          <%= @order.created_at ? @order.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s : '' %>
        </label>
      </div>
      <div class="col-md-4">
        <%= f.label :traded_at %>
        <label class="string optional col-md-8 control-value-label" for="order_traded_at">
          <%= @order.traded_at ? @order.traded_at.strftime('%Y-%m-%d %H:%M:%S').to_s : ' ' %>
        </label>
      </div>
    </div>
    <div class="row map-box-space">
      <div class="col-md-4">
        <%= f.input :international_waybill_company, collection: [:BPOST, :DHL], include_blank: false, disabled: true %>
      </div>
      <div class="col-md-4">
        <%= f.input :international_waybill_no %>
      </div>
    </div>
    <div class="row map-box-space">
      <div class="col-md-4 col-md-offset-8">
        <%= f.input :id, :as => 'hidden' %>
        <%= f.button :submit, '发货完成', class: 'btn-u' %>
      </div>
    </div>
<% end %>