<li>

  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">
    <i class="icon-info-sign"></i>
    帮助
    <i class="icon-angle-down"></i>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to goods_guide_shipping_buyer_helps_path do %>
          <i class="icon-credit-card"></i>
          <span>推荐货品导购</span>
      <% end %>
    </li>
    <li>
      <%= link_to shopping_guide_shipping_buyer_helps_path do %>
          <i class="icon-eye-open"></i>
          <span>欧洲主要网站导购</span>
      <% end %>
    </li>
    <li>
      <%= link_to superhaitao_guide_shipping_buyer_helps_path do %>
          <i class="icon-level-up"></i>
          <span>超级海淘上手攻略</span>
      <% end %>
    </li>
    <li>
      <%= link_to price_guide_shipping_buyer_helps_path do %>
          <i class="icon-plane"></i>
          <span>运费说明</span>
      <% end %>
    </li>

    <li>
      <%= link_to package_guide_shipping_buyer_helps_path do %>
          <i class="icon-paper-clip"></i>
          <span>包装套餐说明</span>
      <% end %>
    </li>

    <li>
      <%= link_to shipping_protocol_shipping_buyer_helps_path do %>
          <i class="icon-paper-clip"></i>
          <span>转运协议</span>
      <% end %>
    </li>

    <li>
      <%= link_to point_guide_shipping_buyer_helps_path do %>
          <i class="icon-money"></i>
          <span>积分说明</span>
      <% end %>
    </li>

    <li>
      <%= link_to tax_guide_shipping_buyer_helps_path do %>
          <i class="icon-dollar"></i>
          <span>如何减少被税</span>
      <% end %>
    </li>
    <li>
      <%= link_to embargo_list_shipping_buyer_helps_path do %>
          <i class="icon-dollar"></i>
          <span>禁运货品清单</span>
      <% end %>
    </li>



  </ul>
</li>
