<%= simple_form_for ['shipping_buyer', @receiver] do |f| %>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :province_id, as: :region, input_html: { class: 'form-control' },
                    collection: Province.order('id').select('id, name'), sub_region: :city_id %>
        <% if @receiver.province %>
            <%= f.input :city_id, as: :region, sub_region: :district_id, input_html: { class: 'form-control' },
                        collection: City.where(province: @receiver.province).select('id, name') %>
        <% else %>
            <%= f.input :city_id, as: :region, sub_region: :district_id, input_html: { class: 'form-control' } %>
        <% end %>
        <% if @receiver.city %>
            <%= f.input :district_id, as: :region, input_html: { class: 'form-control' },
                        collection: District.where(city: @receiver.city).select('id, name') %>
        <% else %>
            <%= f.input :district_id, as: :region, input_html: { class: 'form-control' } %>
        <% end %>

        <%= f.input :address %>
        <%= f.input :zip_code %>
        <%= f.input :phone %>

        <div class="span4 pull-rgt">
          <%= f.button :submit, :class => 'btn-u' %>
          <%= link_to t('.cancel', :default => t('helpers.links.cancel')), shipping_buyer_receivers_path, :class => 'btn-u' %>
        </div>

        <script type="text/javascript">
            //<![CDATA[
            $(function () {
                $('body').on('change', '.region_select', function (event) {
                    var self, $targetDom, $targetSubDom;
                    self = $(event.currentTarget);
                    $targetDom = $('#' + self.data('region-target'));
                    $targetSubDom = $('#' + $targetDom.data('region-target'));
                    if ($targetDom.size() > 0) {
                        $.getJSON('/china_region_fu/fetch_options', {klass: self.data('region-target-kalss'),
                            parent_klass: self.data('region-klass'), parent_id: self.val()}, function (data) {
                            var options = [];
                            $('option[value!=""]', $targetDom).remove();
                            $('option[value!=""]', $targetSubDom).remove();
                            $.each(data, function (index, value) {
                                options.push("<option value='" + value.id + "'>" + value.name + "</option>");
                            });
                            $targetDom.append(options.join(''));
                        });
                    }
                });
            });
            //]]>
        </script>
      </div>
    </div>
<% end %>