<% title '我的订单' %>

<div class="headline">
  <h3>
    我的订单
  </h3>
</div>
<% @orders.each do |order| %>
    <div class="panel panel-blue">
      <div class="panel-heading">
        订单编号:<%= order.number %>
      </div>
    <%= simple_form_for ['shipping_buyer', order] do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%= f.label '总重量' %>
            <label class="string optional col-md-8 control-value-label" for="order_number">
              <%= order.get_items_weight %>(KG)
            </label>
          </div>
          <div class="col-md-4">
            <%= f.label :total_price %>
            <label class="string optional col-md-8 control-value-label" for="order_number">
              <%= Price.by_weight(order.get_items_weight).to_s %>
            </label>
          </div>
          <div class="col-md-4">
            <%= f.label :state %>
            <label class="string optional col-md-8 control-value-label" for="order_number">
              <%= order.get_state %>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.label '国际运单号' %>
            <label class="string optional col-md-8 control-value-label" for="order_created_at">
              <%= order.international_waybill_no %>
            </label>
          </div>
          <div class="col-md-4">
            <%= f.label :created_at %>
            <label class="string optional col-md-8 control-value-label" for="order_created_at">
              <%= order.created_at ? order.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s : '' %>
            </label>
          </div>
          <div class="col-md-4">
            <%= f.label :traded_at %>
            <label class="string optional col-md-8 control-value-label" for="order_traded_at">
              <%= order.traded_at ? order.traded_at.strftime('%Y-%m-%d %H:%M:%S').to_s : ' ' %>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <%= f.label :completed_at %>
            <label class="string optional col-md-8 control-value-label" for="order_completed_at">
              <%= order.completed_at ? order.completed_at.strftime('%Y-%m-%d %H:%M:%S').to_s : ' ' %>
            </label>
          </div>
        </div>
        <div class="row map-box-space">
          <div class="col-md-4 col-md-offset-8">
            <%= f.input :id, :as => 'hidden' %>
            <% if order.state == 'unpaid' %>
                <%= link_to confirm_shipping_buyer_orders_path(id: order.id), :class => 'btn-u btn-u-sea' do %>
                    <i class="icon-check"></i>
                    支付
                <% end %>
                <%= link_to shipping_buyer_order_path(order), method: :delete, :class => 'btn-u btn-u-red' do %>
                    <i class="icon-rotate-left"></i>
                    取消
                <% end %>
            <% end %>
            <%= link_to '查看订单', shipping_buyer_order_path(order), {:target => '_blank', :class => 'btn-u btn-u-blue'}  %>
          </div>
        </div>
    <% end %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>欧洲境内快递公司</th>
          <th>欧洲境内运单号</th>
          <th>货品品名</th>
          <th>入库时间</th>
        </tr>
      </thead>
      <%= order.items.find_each do |item| %>
          <tr>
            <td><%= item.express_name_internal %></td>
            <td><%= item.express_no_internal %></td>
            <td><%= item.sku.try(:name) %></td>
            <td><%= item.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
          </tr>
      <% end %>
    </table>
    </div>
    <hr/>
<% end %>
<%= will_paginate @orders %>