<% title '订单支付' %>

<div class="headline">
  <h3>
    订单支付
  </h3>
</div>

<%= simple_form_for @order, :url => url_for(:action => :payment), :method => :post do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group optional">
          <label class="optional col-md-5 control-label">
            本次订单共须支付(元)：
          </label>
          <div class="col-md-7">
            <label class="optional control-label" id="total_price">
              <%= @price %>
            </label>
          </div>
        </div>

        <div class="form-group optional">
          <label class="optional col-md-5 control-label">
            您的账户积分(元)：
          </label>
          <div class="col-md-7">
            <label class="optional control-label" id="user_point">
              <%= User.find(@order.user_id).point %>
            </label>
          </div>
        </div>

        <div id="div_trade_point" class="form-group optional">
          <label class="optional col-md-5 control-label">
            是否使用积分支付(元)：
          </label>
          <div class="col-md-7">
              <input type="checkbox" name="chk_point" id="chk_point" />
              <input type="text" name="trade_point" id="trade_point" />
          </div>
        </div>

        <div id="div_error_message" class="form-group optional">
          <label class="optional col-md-5 control-label">
          </label>
          <div class="col-md-7">
            <label class="checkbox">
              <span class="help-inline text-danger" id="trade_point_larger_then_user_point_error" style="display: none">
                数值超过可用积分
              </span>
              <span class="help-inline text-danger" id="trade_point_format_error" style="display: none">
                请输入正确格式
              </span>
              <span class="help-inline text-danger" id="trade_point_larger_then_total_price_error" style="display: none">
                本次最多可用积分为<%= @price %>
              </span>
            </label>
          </div>
        </div>

        <div class="form-group optional">
          <label class="optional col-md-5 control-label">
            仍需支付宝支付(元)：
          </label>
          <div class="col-md-7">
            <label class="optional control-label" id="alipay_price">
              <%= @price %>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-3">
            <%= f.input :id, as: :hidden %>
            <%= button_tag :class => 'btn-u pull-right', id: 'btn_submit' do %>
                <i class="icon-credit-card"></i>
                支付
            <% end %>
          </div>
        </div>
      </div>
    </div>
<% end %>