<% title '订单明细' %>

<div class="headline">
  <h3>
    订单明细
  </h3>
</div>

<div class="panel panel-sea">
  <div class="panel-heading">
    订单编号:<%= @order.number %>
  </div>
  <%= simple_form_for ['shipping_buyer', @order] do |f| %>
      <div class="row">
        <div class="col-md-4">
          <%= f.label '总重量' %>
          <label class="string optional col-md-8 control-value-label" for="order_number">
            <%= @order.get_items_weight %>(KG)
          </label>
        </div>
        <div class="col-md-4">
          <%= f.label :total_price %>
          <label class="string optional col-md-8 control-value-label" for="order_number">
            <%= Price.by_weight(@order.get_items_weight).to_s %>
          </label>
        </div>
        <div class="col-md-4">
          <%= f.label :state %>
          <label class="string optional col-md-8 control-value-label" for="order_number">
            <%= @order.get_state %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label '国际运单号' %>
          <label class="string optional col-md-8 control-value-label" for="order_created_at">
            <% if @order.international_waybill_company %>
                <% if @order.international_waybill_company == 'DHL' %>
                    <%= link_to @order.international_waybill_no,
                                "http://nolp.dhl.de/nextt-online-public/set_identcodes.do?lang=de&idc=#{@order.international_waybill_no}&rfn=&extendedSearch=true",
                                {:target => '_blank', :class => 'color-orange'} %>
                <% else %>
                    <%= link_to @order.international_waybill_no, 'http://www.bpostinternational.com/en/e-shipper/track_and_trace.html',
                                {:target => '_blank', :class => 'color-orange'} %>
                <% end %>
            <% end %>
          </label>
        </div>
        <div class="col-md-4">
          <%= f.label '国际快递公司' %>
          <label class="string optional col-md-8 control-value-label" for="order_created_at">
            <%= @order.international_waybill_company %>
          </label>
        </div>
        <div class="col-md-4">
          <%= f.label '使用积分' %>
          <label class="string optional col-md-8 control-value-label" for="order_created_at">
            <%= @order.trade_point %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label :created_at %>
          <label class="string optional col-md-8 control-value-label" for="order_created_at">
            <%= @order.created_at ? @order.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s : '' %>
          </label>
        </div>
        <div class="col-md-4">
          <%= f.label :traded_at %>
          <label class="string optional col-md-8 control-value-label" for="order_traded_at">
            <%= @order.traded_at ? @order.traded_at.strftime('%Y-%m-%d %H:%M:%S').to_s : ' ' %>
          </label>
        </div>
        <div class="col-md-4">
          <%= f.label :completed_at %>
          <label class="string optional col-md-8 control-value-label" for="order_completed_at">
            <%= @order.completed_at ? @order.completed_at.strftime('%Y-%m-%d %H:%M:%S').to_s : ' ' %>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label '收件人信息' %>
          <label class="string optional col-md-8 control-value-label" for="order_created_at">
            <%= @order.receiver_message %>
          </label>
        </div>
      </div>
  <% end %>
</div>

<div class="headline">
  <h3>
    货品明细
  </h3>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>德国境内快递公司</th>
    <th>德国境内快递单号</th>
    <th>货品品名</th>
    <th>货品重量</th>
    <th>入库时间</th>
  </tr>
  </thead>
  <%= @order.items.find_each do |item| %>
      <tr>
        <td><%= item.express_name_internal %></td>
        <td><%= item.express_no_internal %></td>
        <td><%= item.sku.try(:name) %></td>
        <td><%= item.weight %></td>
        <td><%= item.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
      </tr>
  <% end %>
</table>

<% if @order.state != 'unpaid' || current_user.is_admin %>
<div class="headline">
  <h3>
    增值服务
  </h3>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>费用名称</th>
    <th>费用价格</th>
  </tr>
  </thead>

  <% @order.value_added_services.each do |value_added_service| %>
      <tr>
        <td>
          <%= value_added_service.get_service_name %>
        </td>
        <td>
          <%= value_added_service.price %>
        </td>
      </tr>
  <% end %>
</table>
<% end %>