<% title '推荐货品导购' %>

<div class="headline">
  <h1 class="color-blue">推荐货品导购</h1>
</div>

<div class="headline">
  <h2>婴幼儿用品</h2>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/aptamil.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">爱他美</h2>
      <p class="h5">爱他美所属的美乐宝集团公司（Milupa）是全球专业婴幼儿营养品研发，生产和销售商。公司成立于1921年，设立了德国最大的独立母乳研究中心，拥有强大的研发团队，傲人的科研成果。
        爱他美奶粉直接采用优质的，无污染的天然牧场奶源，以鲜奶为原料，整个奶粉生产过程经过严格的德国药品监管体制监控，产品获得德国药监认证。爱他美是欧洲高端婴幼儿食品品牌，是欧洲销量最好的奶粉品牌之一，其系列婴幼儿配方奶粉是最接近母乳的专利奶粉，收到广大欧洲妈妈的喜爱。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=aptamil&sprefix=aptam%2Caps&rh=i%3Aaps%2Ck%3Aaptamil" target="_blank" class="color-orange">爱他美德国亚马逊链接</a>
        </li>
        <li>
          <a href="http://www.windeln.de/marken-shops/aptamil/" target="_blank" class="color-orange">爱他美Windeln链接</a>
        </li>
        <li>
          <a href="http://www.mytime.de/search_result.php?search_query_keyword=aptamil" target="_blank" class="color-orange">爱他美Mytime链接</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/hipp.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-green1">喜宝</h2>
      <p class="h5">诞生于1932年的HIPP喜宝是欧洲最大的婴幼儿有机食品生产企业和全球天然生物食品先锋---全世界最大的有机原料供应商和加工制造商。HIPP喜宝作为全球最早的有机食品的实践者，一直致力于有机食品的推广和研发，坚持有机种植及养殖，只采用经过精心挑选的有机原料，生产健康，营养，美味的婴幼儿食品。从原料到成品，生产过程中不采用任何含有化学或者人工合成材料的工序，产品获得欧盟有机认证，质量高于德国及欧盟标准。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=hipp%20milch" target="_blank" class="color-orange">
            喜宝奶粉德国亚马逊链接
          </a>
        </li>
        <li>
          <a href="http://www.windeln.de/baby-nahrung/milchnahrung/?&f_brand=SGlQUA&&" target="_blank" class="color-orange">喜宝奶粉windeln链接</a>
        </li>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=hipp+beikost&rh=i%3Aaps%2Ck%3Ahipp+beikost" target="_blank" class="color-orange">
            喜宝婴幼儿辅食德国亚马逊链接
          </a>
        </li>
        <li>
          <a href="http://www.windeln.de/baby-nahrung/beikost/hipp/" target="_blank" class="color-orange">
            喜宝婴幼儿辅食windeln链接
          </a>
        </li>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=hipp+brei&rh=i%3Aaps%2Ck%3Ahipp+brei" target="_blank" class="color-orange">
            喜宝米粉德国亚马逊链接
          </a>
        </li>
        <li>
          <a href="http://www.windeln.de/baby-nahrung/babybrei/hipp/" target="_blank" class="color-orange">
            喜宝米粉windeln链接
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/nuk.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">NUK</h2>
      <p class="h5">NUK是德国MAPA公司旗下生产高质量婴儿用品的著名商标，在世界婴儿用品市场上享有很高的声誉。几十年来在橡胶和塑料制品方面有领先的水平，其婴儿用品远销全世界70多个国家和地区。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_2?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=NUK&rh=i%3Aaps%2Ck%3ANUK" target="_blank" class="color-orange">NUK德国亚马逊链接</a>
        </li>
        <li>
          <a href="http://www.windeln.de/marken-shops/nuk/" target="_blank" class="color-orange">NUK windeln链接</a>
        </li>
        <li>
          <a href="http://www.mytime.de/search_result.php?search_query_keyword=nuk" target="_blank" class="color-orange">NUK Mytime链接</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/avent.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">新安怡（AVENT）</h2>
      <p class="h5">新安怡（AVENT），源于英国的著名品牌，诞生于1984年，经过20年的不断创新，已成长为母婴用品世界的第一品牌。拥有60%的英国本土市场份额，更成为全世界70多个国家母婴界的信赖品牌，产品出口超过60个国家，在欧美各国更是备受推崇。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_2?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=avent&rh=i%3Aaps%2Ck%3Aavent" target="_blank" class="color-orange">新安怡德国亚马逊链接</a>
        </li>
        <li>
          <a href="http://www.windeln.de/marken-shops/avent/" target="_blank" class="color-orange">新安怡windeln链接</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="headline">
  <h2>童车与安全座椅</h2>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/cybex.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">Cybex</h2>
      <p class="h5">Cybex是一家非常重视设计理念的德国安全座椅生产商，坚持安全，设计和创新的理念，多次获得德国红点设计大奖，在ADAC网站的评测中成绩优异。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_2?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=cybex&rh=i%3Aaps%2Ck%3Acybex" target="_blank" class="color-orange">Cybex德国亚马逊链接</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/maxicosi.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">Maxi cosi</h2>
      <p class="h5">作为全世界最大的儿童汽车安全座椅制造商之一，来自荷兰的迈可适Maxi-Cosi不仅仅是第一家在欧洲推出婴幼儿汽车安全座椅的制造商，也是欧洲汽车安全座椅安全标准的倡导者和引领者。Maxi-Cosi产品以安全可靠、设计领先、使用方便、经久耐用闻名，是高品质家庭生活的完美象征。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=maxi+cosi&rh=i%3Aaps%2Ck%3Amaxi+cosi" target="_blank" class="color-orange">Maxi cosi 德国亚马逊链接</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/britax.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">Britax</h2>
      <p class="h5">Britax成立于20世纪30年代，总部位于英国汉普郡安多弗，最初专注于成人座椅安全带等领域的开发，并在20世纪60年代推出其首款儿童汽车座椅。1978年，Britax和德国制造商Römer合并成立Britax Römer。20世纪80-90年代，公司发展壮大，将业务扩展到美国、澳大利亚、新西兰、斯堪的纳维亚半岛和亚洲。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=britax&rh=i%3Aaps%2Ck%3Abritax" target="_blank" class="color-orange">Britax德国亚马逊链接</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="headline">
  <h2>厨具 刀具 餐具</h2>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/wmf.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">WMF</h2>
      <p class="h5">WMF，德国百年高端餐具、厨具品牌，自1853年以来，WMF就一直致力于将烹饪，用餐及品饮变成一种快乐的生活体验。WMF的产品涵盖家庭及社会餐饮 领域，产品线包括西餐具，厨具，餐具，玻璃器皿及刀具。持续的创新及时尚的设计与优异的品质相得益彰，是WMF产品的独特之处。这些优势帮助WMF确立了 德国餐具及厨具的市场领袖地位，并成为著名德国品牌。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=wmf+schnellkochtopf&rh=i%3Aaps%2Ck%3Awmf+schnellkochtopf" target="_blank" class="color-orange">
            WMF高压锅德国亚马逊链接
          </a>
        </li>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=wmf+topf&rh=i%3Aaps%2Ck%3Awmf+topf" target="_blank" class="color-orange">
            WMF锅具德国亚马逊链接
          </a>
        </li>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=wmf+gabel&rh=i%3Aaps%2Ck%3Awmf+gabel" target="_blank" class="color-orange">
            WMF餐具德国亚马逊链接
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/fissler.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">Fissler</h2>
      <p class="h5">源于古老与时尚交汇的莱茵河畔的德国厨具品牌菲仕乐Fissler以其独特的渊源，经典与优质，成就了其在德国厨房界不可动摇的地位。优美时尚的外观设计，创意出挑的细节，每一个菲仕乐锅具，均经由用心的打造，多达数千到的生产工序保证了产品无与伦比的优异。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=fissler+topf&rh=i%3Aaps%2Ck%3Afissler+topf" target="_blank" class="color-orange">
            Fissler锅具德国亚马逊链接
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="search-blocks">
  <div class="row">
    <div class="col-md-4 ">
      <%= image_tag 'guide/goods_guide/zwilling.jpg', class: 'img-responsive margin-bottom-20'%>
    </div>
    <div class="col-md-8">
      <h2 class="color-sea">双立人</h2>
      <p class="h5">创始于1731年的德国双立人，是世界上历史悠久的商标之一，也是一种稀有品质与不朽传奇的化身，德国品质的钢材配方，无与伦比的锻造工艺，拥有一套双立人刀具，是极至生活品质与追求完美精神的最好象征。</p>
      <ul>
        <li>
          <a href="http://www.amazon.de/Zwilling-30795180-Pollux-Chinesisches-Kochmesser/dp/B000XFG2QI/ref=sr_1_3?ie=UTF8&qid=1392974139&sr=8-3&keywords=wmf" target="_blank" class="color-orange">
            双立人中式菜刀德国亚马逊链接
          </a>
        </li>
        <li>
          <a href="http://www.amazon.de/s/ref=nb_sb_noss_1?__mk_de_DE=%C3%85M%C3%85%C5%BD%C3%95%C3%91&url=search-alias%3Daps&field-keywords=zwilling+messer&rh=i%3Aaps%2Ck%3Azwilling+messer" target="_blank" class="color-orange">
            双立人刀具德国亚马逊链接
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>






