<% title '帮助导航' %>

<div class="headline">
  <h1 class="color-orange">帮助导航</h1>
</div>
<div class="headline">
  <h2>我是海淘新手</h2>
</div>
<p class="h5">海淘简单的说就是从国外购买货品，您可以节省甚至几倍的价格在国外买到质量好的货品。</p>
<p class="h5">目前超级海淘提供的服务是海淘转运，针对各个主要网站的代购服务将在不久之后推出，敬请期待。</p>

<div class="headline">
  <h2>购买一个宝贝的流程是什么</h2>
</div>
<p class="h5">1. 注册用户，在账户信息里面取得我们的仓库地址</p>
<p class="h5">2. 到德国购物网站购买宝贝，地址按照
  <%= link_to shopping_guide_shipping_buyer_helps_path do %>
      <i class="icon-hand-right"></i>
      <span class="color-orange">导购信息</span>
  <% end %>里面的帮助格式填写
</p>
<p class="h5">3.等待货品入库邮件通知之后，到Superhaitao选择货品下单支付</p>


<div class="headline">
  <h2>我怎么做能最快上手</h2>
</div>
<p class="h5">1. 您可以先花5分钟浏览一下网站里面各个帮助的主要内容。</p>
<p class="h5">2. 然后您可以注册成我们的用户，可以分享，完善信息马上赚取积分。同时可以关注一下

  <%= link_to point_guide_shipping_buyer_helps_path do %>
      <i class="icon-hand-right"></i>
      <span class="color-orange">积分赚取攻略</span>
  <% end %>
</p>

<p class="h5">3. 接着您可以花几分钟时间阅读一下
  <%= link_to superhaitao_guide_shipping_buyer_helps_path do %>
      <i class="icon-hand-right"></i>
      <span class="color-orange">superhaitao操作手册</span>
  <% end %>
  和我们的
  <%= link_to price_guide_shipping_buyer_helps_path do %>
      <i class="icon-hand-right"></i>
      <span class="color-orange">运费说明</span>
  <% end %>
</p>

<p class="h5">4. 是的，你可以开始海淘了，如果不知道到哪些网站买合适的物品，请参看
  <%= link_to goods_guide_shipping_buyer_helps_path do %>
      <i class="icon-hand-right"></i>
      <span class="color-orange">我们整理的列表</span>
  <% end %>
</p>

<p class="h5">5. 为了您可以更轻松，更简单的购物，您可以查看我们为您精心准备的
  <%= link_to shopping_guide_shipping_buyer_helps_path do %>
      <i class="icon-hand-right"></i>
      <span class="color-orange">主要网站导购信息</span>
  <% end %>
</p>



<div class="headline">
  <h2>还有其他攻略吗</h2>
</div>
<p class="h5">我们会渐渐开放一些攻略，让您的购物更轻松，更省钱，更愉快，您可以先看
  <%= link_to tax_guide_shipping_buyer_helps_path do %>
      <i class="icon-hand-right"></i>
      <span class="color-orange">减少被税攻略</span>
  <% end %>
</p>

<div class="headline">
  <h2>我需要采用什么浏览器</h2>
</div>
<p class="h5">为使你的界面体验效果达到最佳，推荐采用IE9及以上版本，chrome，safari</p>


