<% title '欧洲主要网站导购' %>

<div class="headline">
  <h2>amazon-综合</h2>
</div>
<%= link_to shopping_guide_amazon_shipping_buyer_helps_path do %>
    <i class="icon-hand-right"></i>
    <span class="color-orange">点击这里查看详细导购流程</span>
<% end %>
<p>基本上所有货品都可以从这里选购，亚马逊，你懂得。</p>

<div class="headline">
  <h2>windeln-母婴</h2>
</div>
<%= link_to shopping_guide_windeln_shipping_buyer_helps_path do %>
    <i class="icon-hand-right"></i>
    <span class="color-orange">点击这里查看详细导购流程</span>
<% end %>
<p>windeln.de是德国最大的母婴线上购物网站之一，是Aptami的合作伙伴。您可以在这里找到几乎所有您需要的母婴产品，近年来W家十分重视中国市场，为中国客户提供了很多人性化的服务。</p>

<div class="headline">
  <h2>mytime-母婴，食品</h2>
</div>
<%= link_to shopping_guide_mytime_shipping_buyer_helps_path do %>
    <i class="icon-hand-right"></i>
    <span class="color-orange">点击这里查看详细导购流程</span>
<% end %>
<p>mytime.de是一家以食品和母婴产品为主的线上购物网站，价格比较亲民，商品种类很丰富，缺点就是热门奶粉产品总是缺货，65欧起免德国本土邮费。</p>

<div class="headline">
  <h2>allyouneed-综合</h2>
</div>
<%= link_to shopping_guide_allyouneed_shipping_buyer_helps_path do %>
    <i class="icon-hand-right"></i>
    <span class="color-orange">点击这里查看详细导购流程</span>
<% end %>
<p>allyouneed.com是一家与DHL合作的大型网上超市。产品种类繁多，包括食品，婴儿用品，护肤品，宠物用品和其他日用品，30欧即包德国本土邮费，值的一试。</p>

<div class="headline">
  <h2>bodyguard-药品</h2>
</div>
<%= link_to shopping_guide_bodyguard_shipping_buyer_helps_path do %>
    <i class="icon-hand-right"></i>
    <span class="color-orange">点击这里查看详细导购流程</span>
<% end %>
<p>一家种类很全，价格亲民的线上药店，购物额达到一定程度就有礼品赠送，消费额达到25欧即免德国本土运费。</p>
