<% title '超级海淘上手攻略' %>

<div class="headline">
  <h1 class="color-blue">1.注册，登陆，信息完善</h1>
</div>
<%=image_tag 'guide/superhaitao_guide/register1.png'%>
<%=image_tag 'guide/superhaitao_guide/register2.png'%>
<%=image_tag 'guide/superhaitao_guide/register3.png'%>
<%=image_tag 'guide/superhaitao_guide/register4.png'%>


<div class="headline">
  <h1 class="color-blue">2.下单</h1>
</div>
<%=image_tag 'guide/superhaitao_guide/order1.png'%>
<%=image_tag 'guide/superhaitao_guide/order2.png'%>
<%=image_tag 'guide/superhaitao_guide/order3.png'%>
<%=image_tag 'guide/superhaitao_guide/order4.png'%>
<%=image_tag 'guide/superhaitao_guide/order5.png'%>
<%=image_tag 'guide/superhaitao_guide/order6.png'%>
<%=image_tag 'guide/superhaitao_guide/order7.png'%>
<%=image_tag 'guide/superhaitao_guide/order8.png'%>


<div class="headline">
  <h1 class="color-blue">3.支付</h1>
</div>
<%=image_tag 'guide/superhaitao_guide/pay1.png'%>
<%=image_tag 'guide/superhaitao_guide/pay2.png'%>
<%=image_tag 'guide/superhaitao_guide/pay3.png'%>


<div class="headline">
  <h1 class="color-blue">4.完成</h1>
</div>
<%=image_tag 'guide/superhaitao_guide/complete1.png'%>
<%=image_tag 'guide/superhaitao_guide/complete2.png'%>
<%=image_tag 'guide/superhaitao_guide/complete3.png'%>
<%=image_tag 'guide/superhaitao_guide/complete4.png'%>


