<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html>
<%= render :partial => 'shared/head' %>
<body>
<div class="top">

</div>
<%= render :partial => 'shared/header_admin' %>

<div class="map-box-space">

</div>
<div class="container margin-bottom-5">

  <%= bootstrap_flash %>
  <%= yield %>
</div>

<%= render :partial => 'shared/footer' %>

</body>
</html>
